.App {
   text-align: left;
}

body {
   background-color: black;
}

section {
   position: relative;
}

h1, h2, h3, h4, h5, ul, li {
   font-family: "Montserrat", sans-serif;
   position: relative;
}

p, a {
   font-family: "Lato", sans-serif;
}

.btn-main {
   color: black;
   background-color: aqua;
   border: 1px solid black;
}

.btn-main:hover {
   color: aqua;
   background-color: black;
   border: 1px solid aqua;
}

.btn-main-inv {
   color: aqua;
   background-color: black;
   border: 1px solid black;
}

.btn-main-inv:hover {
   color: black;
   background-color: aqua;
   border: 1px solid black;
}